@model IEnumerable<TBPB_Shop.ApplicationLogic.Models.Product>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <link href="~/ShopPage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/ShopPage/css/shop-homepage.css" rel="stylesheet">

</head>

<body>
    <div>
        <a asp-action="New">Create New</a>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">TBPB Shop</h1>

                <p>Products</p>
                @foreach (var producer in Model)
                {
                    <div class="list-group-item">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@producer.Id">@Html.DisplayFor(modelItem => producer.Name)</a>
                    </div>
                }

            </div>


            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                @Html.DisplayFor(modelItem => item.Name)
                            </h4>
                            <h5>@Html.DisplayFor(modelItem => item.Price)Lei</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.QuantityOnStoc)</p>
                        </div>
                        <div class="card-footer">
                            <a asp-action="UpdateClicked" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script src="~/ShopPage/vendor/jquery/jquery.min.js"></script>
    <script src="~/ShopPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
