@model TBPB_Shop.ViewModel.CartViewModel

<div class="d-flex">
    <div class="p-2 final-cost-label">
        Products cost:
    </div>

    <div class="p-2 ml-auto final-cost-value">
        <div class="d-flex">
            <span id="products-total-price-int">
                @Model.GetNaturalPart(Model.TotalPriceProducts)
            </span>
            <span id="products-total-price-decimal">
                @if (Model.GetCommaPart(Model.TotalPriceProducts) < 10)
                {
                <sup class="d-flex put-decimal">
                    <span>0</span>
                    <span>@Model.GetCommaPart(Model.TotalPriceProducts)</span>
                </sup>
                }
                else
                {
                    <sup class="put-decimal">@Model.GetCommaPart(Model.TotalPriceProducts)</sup>
                }
            </span>
            &nbsp;
            <span class="money-currency"> Lei </span>
        </div>
    </div>
</div>

<div class="d-flex">
    <div class="mr-auto p-2 delivery-process-label">
        Delivery and
        <p>
            processing cost:
        </p>
    </div>

    <div class="p-2 delivery-process-value">
        <div class="d-flex">
            <span id="products-total-price-int">
                @Model.GetNaturalPart(Model.PriceDelivery)
            </span>
            <span id="products-total-price-decimal">
                @if (Model.GetCommaPart(Model.PriceDelivery) < 10)
                {
                <sup class="d-flex put-decimal">
                    <span>0</span>
                    <span>@Model.GetCommaPart(Model.TotalPrice)</span>
                </sup>
                }
                else
                {
                    <sup class="put-decimal">@Model.GetCommaPart(Model.PriceDelivery)</sup>
                }
            </span>
            &nbsp;
            <span class="money-currency"> Lei </span>
        </div>
    </div>
</div>

<div class="line-separator"></div>

<div class="total-price-label">
    Total:
</div>

<div class="total-price-value">
    <div class="d-flex">
        <span id="total-price-int">
            @Model.GetNaturalPart(Model.TotalPrice)
        </span>
        <span id="total-price-decimal">
            @if (Model.GetCommaPart(Model.TotalPrice) < 10)
            {
            <sup class="d-flex put-decimal">
                <span>0</span> 
                <span>@Model.GetCommaPart(Model.TotalPrice)</span>
            </sup>
            }
            else
            {
                <sup class="put-decimal">@Model.GetCommaPart(Model.TotalPrice)</sup>
            }
        </span>
        &nbsp;
        <span class="money-currency"> Lei </span>
    </div>
</div>


    

